.container {
    color: #3F3F3F;
    animation-name: animation;
    animation-duration: 3s;
}
@keyframes animation {
    from {color: #ff0000;}
    to {color: #3F3F3F;}
}
.container div {
    float: left;
    margin-top: 12px;
}
img {
    float: left;
    clear: both;
    margin: 5px;
}
